.servicios{
    @extend %display;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color:lighten($color: $secondary, $amount: 20); 

    font: {
        size: $size-secondary;
        family:$font-family;
    }
    img{
        height: 250px;
        width: 200px;
    }

    font: {
        family:$font-family;
        size: $size-secondary;
    }
    .src-info{
        margin: 5rem;
        background: $light;
        border: none;
        border-radius: 1rem;
        width: 350px;
        box-shadow: 1px 0px 6px $dark;
    &:hover{
        opacity: 0.8;
    }
    }
    
};

